.navbar {
    background-color: #FFBF00;
}

.quem-somos{
    background-color: #b5aa99;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align: justify;
    padding: 10px;
   
}